* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white !important;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #212121;
  overflow-x: hidden;
}

.navSecondSection {
  padding-bottom: 1em;
  border-bottom: 1px solid #d3d3d333;
}

#searchList {
  max-height: 50vh !important;
  overflow-y: scroll;
}

#searchList li {
  list-style-type: none;
}

main {
  margin-left: 3em;
}

.profile {
  background-color: rgba(0, 0, 0, 0.555);
  border-radius: 50px;
  padding-right: 10px;
}

#profileImg {
  width: 25px;
  border-radius: 50px;
}

.collage {
  width: 60px;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
}

.collage img {
  width: 50%;
}

#mostLiked .card {
  max-width: 130px;
}
.card-img-top {
  max-width: 120px;
  margin: 0 auto;
}

.friends {
  width: 30px;
}

header {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

aside {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.arrow {
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: rgba(0, 0, 0, 0.308);
  border-radius: 50px;
}
